{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>RentIt</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{% static 'static/style.csc' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Manrope&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="imgWrap">
            <img src= "{%static 'img/back.png' %}" class="img">
        </div>
        <h1 class="tit">Ваш email успешно активирован</h1>
            <p>Можете закрыть это окно и продолжить работу </p>
        </div>
</body>
</html>